@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

body{
  /* Hide scrollbar */
  overflow-x: hidden;
}
.fo{
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  text-align: center;
  font-style: normal;
}

.line{
  text-align: center;
  align-content: center;
  width: 100%;
}
body{
    @apply:bg-gradient-to-r from-blue-100 to-blue-200;
}

.bg-img{
    background-image: url("../../public/background.png");
    object-fit: cover;
    align-content: center;

}
.hello{
  display: flex;
  align-content: center;
  text-align: center;
}
.shal{
    position: absolute;
    height: 0px;
    width: 0px;
    background-color: rgb(173, 92, 0);
   margin-left: 1300px;
    box-shadow: 20px 20px 20000px 200px rgb(173, 92, 0);
}
.s{
    position: absolute;
    height: 0px;
    width: 0px;
    margin-top: 500px;
    
   margin-left: 1000px;
    box-shadow: 20px 20px 40000px 300px rgb(173, 112, 0);
}
.sh{
    box-shadow: 0 0px 800px 50px rgb(255, 255, 255);
}

.gradient{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: whitesmoke;
    opacity: 0.8;
    filter: blur(600px);
    border-radius: 50%;
    animation: fly 10s linear infinite;
    /* box-shadow: 0px 20px 800px 300px rgb(150, 149, 149);
    box-shadow: firebrick; */ 
}
@keyframes fly {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(80vw, 10vh);
    }
    50% {
      transform: translate(80vw, 70vh);
    }
    75% {
      transform: translate(20vw, 60vh);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  .input-shadow{
    box-shadow: 20px 20px 20px  black;
  }